h2{
    text-align: center;
    font-weight: bold;
    margin: 3rem;
    font-size: 4rem;
    color: #003153;
}

.products{
    padding: 30px;
        width: 95%;
        margin: auto;
        display: flex;
}
