.cartCounter {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -5%;
    left: 80%;
    background: white;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    font-size: 1.2rem;
    font-weight: bold;
    color: #003153
}